---
layout: default
title: Meltingbook
---

<div class="col-flex_extern menu-aside">
    <ul>
        <li><a href="#">Articles</a></li>
        <li aria-hidden>—</li>
        <li><a href="#">Podcasts</a></li>
        <li aria-hidden>—</li>
        <li><a href="#">Vidéos</a></li>
        <li aria-hidden>—</li>
        <li><a href="#">Évènements</a></li>
        <li aria-hidden>—</li>
        <li><a href="#">Noms</a></li>
        <li aria-hidden>—</li>
        <li><a href="#">MeltingBook Éditions</a></li>
    </ul>
    <a href="#" class="logoshop">
        <img src="{{site.url}}/dist/img/logo.png" alt="accéder à la boutique">
    </a>
    <ul>
        <li><a href="#">infos</a></li>
        <li aria-hidden>—</li>
        <li><a href="#">contacts</a></li>
        <li aria-hidden>—</li>
        <li><a href="#">mentions<br/>légales</a></li>
    </ul>
</div>

<section class="col-flex_primary list-article">
    {% for post in site.categories.article %}
        <article>
            <a href=".{{post.url}}">
                <img src="{{ post.urlimg }}" alt="" /><div>
                    <h2>{{ post.title }}</h2>
                    <p aria-hidden>—</p>
                    <p>par<br/>{{ post.author }}</p>   
                </div>
                <a href="" class="share-twitter">Partager sur Twitter</a>
                <a href="" class="share-facebook">Partager sur Facebook</a>
            </a>
        </article>
    {% endfor %}
</section>

<section class="col-flex_secondary list-portrait">
	{% for post in site.categories.portrait %}
        <article>
            <a href=".{{post.url}}">
                <img src="{{ post.urlimg }}" alt="" />
                <h2>{{ post.title }}</h2> 
            </a>
        </article>
    {% endfor %}
</section>

<div class="col-flex_extern list-keys">
    <ul>
        <li><a href="#">Laïcité </a></li>
        <li><a href="#">Todd Sheppard </a></li>
        <li><a href="#">Primaires </a></li>
        <li><a href="#">Fillon </a></li>
        <li><a href="#">Macron </a></li>
        <li><a href="#">Paris </a></li>
        <li><a href="#">Législatives 2017 </a></li>
        <li><a href="#">Voile </a></li>
        <li><a href="#">Moralisation </a></li>
        <li><a href="#">Terrorisme </a></li>
        <li><a href="#">Henry Laurens </a></li>
        <li><a href="#">FN </a></li>
        <li><a href="#">Shlomo </a></li>
        <li><a href="#">Sand </a></li>
        <li><a href="#">Mont-fermeil </a></li>
        <li><a href="#">Cité </a></li>
        <li><a href="#">Débat public </a></li>
        <li><a href="#">Déchéance </a></li>
        <li><a href="#">Nationalité </a></li>
        <li><a href="#">Vote </a></li>
        <li><a href="#">Nadia </a></li>
        <li><a href="#">Henni-Moulaï </a></li>
        <li><a href="#">JR Kechaou  </a></li>
        <li><a href="#">Handicap </a></li>
        <li><a href="#">L’homme arabe </a></li>
        <li><a href="#">Islam </a></li>
        <li><a href="#">Bio </a></li>
        <li><a href="#">Fonctionnaire </a></li>
    </ul>
</div>