<div class="col-flex_extern list-keywords">
    <ul>
        <li><a href="#">Laïcité </a></li>
        <li><a href="#">Todd Sheppard </a></li>
        <li><a href="#">Primaires </a></li>
        <li><a href="#">Fillon </a></li>
        <li><a href="#">Macron </a></li>
        <li><a href="#">Paris </a></li>
        <li><a href="#">Législatives 2017 </a></li>
        <li><a href="#">Voile </a></li>
        <li><a href="#">Moralisation </a></li>
        <li><a href="#">Terrorisme </a></li>
        <li><a href="#">Henry Laurens </a></li>
        <li><a href="#">FN </a></li>
        <li><a href="#">Shlomo </a></li>
        <li><a href="#">Sand </a></li>
        <li><a href="#">Mont-fermeil </a></li>
        <li><a href="#">Cité </a></li>
        <li><a href="#">Débat public </a></li>
        <li><a href="#">Déchéance </a></li>
        <li><a href="#">Nationalité </a></li>
        <li><a href="#">Vote </a></li>
        <li><a href="#">Nadia </a></li>
        <li><a href="#">Henni-Moulaï </a></li>
        <li><a href="#">JR Kechaou  </a></li>
        <li><a href="#">Handicap </a></li>
        <li><a href="#">L’homme arabe </a></li>
        <li><a href="#">Islam </a></li>
        <li><a href="#">Bio </a></li>
        <li><a href="#">Fonctionnaire </a></li>
    </ul>
</div>