
<header class="header" role="banner">
	<nav role="navigation" aria-hidden="true">
		<ul class="menu col-flex">
			<li class="col-flex_extern">
				<a href="{{ site.url }}">Meltingbook</a>
				<ul class="submenu">
					<li><a href="#">Infos</a></li>
					<li aria-hidden>—</li>
					<li><a href="#">Contacts</a></li>
					<li aria-hidden>—</li>
					<li><a href="#">Mentions légales</a></li>
				</ul>
			</li>
			<li class="col-flex_primary">
				<a href="{{ site.url }}">Actualités</a>
				<ul class="submenu">
					<li><a href="#">société</a></li>
					<li aria-hidden>—</li>
					<li><a href="#">politique</a></li>
					<li aria-hidden>—</li>
					<li><a href="#">culture</a></li>
					<li aria-hidden>—</li>
					<li><a href="#">opinion</a></li>
				</ul>
			</li>
			<li class="col-flex_secondary">
				<a href="#">Portraits</a>
			</li>
			<li class="col-flex_extern">
				<a href="#">Mots clefs</a>
			</li>
		</ul>
	</nav>
</header>