
<header class="header" role="banner">
	<nav role="navigation" aria-hidden="true">
		<ul class="menu">
			<li>
				<a href="#">Meltingbook</a>
				<ul class="submenu">
					<li><a href="#">Infos</a></li>
					<li><a href="#">Contacts</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Actualités</a>
				<ul class="submenu">
					<li><a href="#">société</a></li>
					<li><a href="#">politique</a></li>
					<li><a href="#">culture</a></li>
					<li><a href="#">opinion</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Portraits</a>
			</li>
			<li>
				<a href="#">Mots clefs</a>
			</li>
		</ul>
	</nav>
</header>