/* ==========================================================================
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* Variable
   ========================================================================== */
/* CSS
   ========================================================================== */
body {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover,
a:focus,
a:active {
  color: red;
}

.header {
    /* Hover submenu */
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  text-align: center;
}

.header .menu > li {
  position: relative;
}

.header .menu > li > a {
  display: block;
  padding: 5px 0;
  border-bottom: 2px solid #000;
}

.header .menu > li:nth-child(1),
.header .menu > li:nth-child(4) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .menu > li:nth-child(2) {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.header .menu > li:nth-child(3) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.header .menu > li:not(:last-child) {
  border-right: 2px solid #000;
}

.header .submenu {
  display: none;
}

.header .menu > li:hover ul {
  position: absolute;
  top: auto;
  width: 100%;
  padding: 5px 0;
  border-bottom: 2px solid #000;
  background-color: white;
}

.header .menu > li:first-child:hover ul,
.header .menu > li:first-child:hover ul > li {
  display: block;
}

.header .menu > li:nth-child(2):hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu > li:nth-child(2):hover ul > li {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .content_article {
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.content .content_portrait {
  border-right: 2px solid #000;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.content .content_col-empty {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
