/* ==========================================================================
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}


/* Variable
   ========================================================================== */
	$primary-color: #000;


/* Font face
   ========================================================================== */
   @font-face {
		font-family: "Helvetica";
		src: url('/dist/fonts/HelveticaNeue.ttc');
	}


/* CSS
   ========================================================================== */
	body {
		font-family: 'Helvetica', 'Roboto', sans-serif;
	}

	a {
		color: $primary-color;
		text-decoration: none;
	}
	a:hover, 
	a:focus,
	a:active {
		color: red
	}

	/* Font size */
	.menu li {
		font-size: 1.8rem;
		line-height: 100%;
		letter-spacing: 0.025rem;
	}
	.content article * {
		font-size: 1.45rem;
		line-height: 125%;
		font-weight: normal;
		letter-spacing: 0.025rem;
	}

	/* Grille */
	.col-flex {
		display: flex;
	}
	.col-flex_primary>*,
	.col-flex_secondary>*,
	.col-flex_extern>* {
		padding: 10px;
	}
	.col-flex_primary {
		flex: 4;
	}
	.col-flex_secondary {
		flex: 2;
	}
	.col-flex_extern {
		flex: 1;
	}

	/* Header */
	.header {
		.menu {
			text-align: center;
			margin: 0;
		}
		.menu > li {
			position: relative;
		}
		.menu > li > a {
			display: block;
			padding: 5px 0;
			border-bottom: 2px solid $primary-color;
		}
		.menu > li:not(:last-child) {
			border-right: 2px solid $primary-color;
		}

		/* Hover submenu */
		.submenu {
			display: none;
		}
		.menu > li:hover ul {
			position: absolute;
			top: auto;
			width: 100%;
			padding: 5px 0;
			border-bottom: 2px solid $primary-color;
			background-color: white;
		}
		.menu > li:first-child:hover ul {
			display: block;
		}
		.menu > li:nth-child(2):hover ul {
			display: flex;
		}
		.menu > li:first-child ul > li {
			display: block;
		}
		.menu > li:nth-child(2) ul > li {
			display: inline-block;
			flex: 6;
		}
		.menu > li:nth-child(2) ul > li[aria-hidden] {
			flex: 1;
		}
	}

	/* Content */
	.content {
		.col-flex_primary {
			border-left: 2px solid $primary-color;
			border-right: 2px solid $primary-color;
		}
		.col-flex_secondary {
			border-right: 2px solid $primary-color;
		}
		.col-flex_primary,
		.col-flex_secondary {
			overflow: auto;
			min-height: calc(100vh - calc(1.8rem + 12px));
		    max-height: calc(100vh - calc(1.8rem + 12px));
		}

		.list-article {
			display: block;
			a {
				display: block;
				img {
					width: 75%;
					display: inline-block;
					vertical-align: top;
				}
				div {
					width: calc(25% - 10px);
					display: inline-block;
					vertical-align: top;
					padding-left: 10px;
				}
			}
		}
		.list-portrait {
			article {
				display: block;
				h2 {
					width: 75%;
				}
			}
		}
		.list-article article,
		.list-portrait article {
			padding-top: 0;
			padding-bottom: 0;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}