/* ==========================================================================
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}


/* Variable
   ========================================================================== */
	$primary-color: #000;


/* CSS
   ========================================================================== */
	body {
		font-family: 'Roboto', 'Noto', sans-serif;
		font-size: 1.4em;
	}

	a {
		color: $primary-color;
		text-decoration: none;
	}
	a:hover, 
	a:focus,
	a:active {
		color: red
	}

	.header {
		.menu {
			display: flex;
			text-align: center;
			margin: 0;
		}
		.menu > li {
			position: relative;
		}
		.menu > li > a {
			display: block;
			padding: 5px 0;
			border-bottom: 2px solid $primary-color;
		}
		.menu > li:nth-child(1), 
		.menu > li:nth-child(4) {
			flex: 1;
		}
		.menu > li:nth-child(2)  {
			flex: 4;
		}
		.menu > li:nth-child(3) {
			flex: 2;
		}
		.menu > li:not(:last-child) {
			border-right: 2px solid $primary-color;
		}

		/* Hover submenu */
		.submenu {
			display: none;
		}
		.menu > li:hover ul {
			position: absolute;
			top: auto;
			width: 100%;
			padding: 5px 0;
			border-bottom: 2px solid $primary-color;
			background-color: white;
		}
		.menu > li:first-child:hover ul,
		.menu > li:first-child:hover ul > li {
			display: block;
		}
		.menu > li:nth-child(2):hover ul {
			display: flex;
		}
		.menu > li:nth-child(2):hover ul > li {
			display: inline-block;
			flex: 1;
		}
	}

	.content {
		display: flex;
		.content_article {
			flex: 4;
			border-left: 2px solid $primary-color;
			border-right: 2px solid $primary-color;
		}
		.content_portrait {
			flex: 2;
			border-right: 2px solid $primary-color;
		}

		.content_col-empty {
			flex: 1;
		}
	}