/* ==========================================================================
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* Variable
   ========================================================================== */
/* Font face
   ========================================================================== */
@font-face {
  font-family: 'Helvetica';

    src: url('/dist/fonts/HelveticaNeue.ttc');
}

/* CSS
   ========================================================================== */
body {
  font-family: 'Helvetica', 'Roboto', sans-serif;
  word-break: break-all;
  word-break: break-word;
  -ms-word-break: break-all;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}

a {
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  text-decoration: none;
  color: #000;
}

a:hover,
a:focus,
a:active {
  color: red;
}

/* Font size */
.menu li {
  font-size: 1.8rem;
  line-height: 100%;
  letter-spacing: .025rem;
}

.content article * {
  font-size: 1.45rem;
  font-weight: normal;
  line-height: 125%;
  letter-spacing: .025rem;
}

/* Grille */
.col-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-flex_primary > *,
.col-flex_secondary > *,
.col-flex_extern > * {
  padding: 10px;
}

.col-flex_primary {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.col-flex_secondary {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.col-flex_extern {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Header */
.header {
    /* Hover submenu */
}

.header .menu {
  margin: 0;
  text-align: center;
}

.header .menu > li {
  position: relative;
}

.header .menu > li > a {
  position: relative;
  z-index: 1;
  display: block;
  padding: 5px 0;
  border-bottom: 2px solid #000;
  background-color: white;
}

.header .menu > li:not(:last-child) {
  border-right: 2px solid #000;
}

.header .submenu {
  display: none;
}

.header .menu > li:hover ul {
  position: absolute;
  top: auto;
  width: 100%;
  padding: 5px 0;
  border-bottom: 2px solid #000;
  background-color: white;
}

.header .menu > li:first-child:hover ul {
  display: block;
}

.header .menu > li:nth-child(2):hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu > li:first-child ul > li {
  display: block;
}

.header .menu > li:nth-child(2) ul > li {
  display: inline-block;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.header .menu > li:nth-child(2) ul > li[aria-hidden] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Content */
.content .col-flex_primary {
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

.content .col-flex_secondary {
  border-right: 2px solid #000;
}

.content .col-flex_primary,
.content .col-flex_secondary {
  overflow: auto;
  min-height: calc(100vh - calc(1.8rem + 12px));
  max-height: calc(100vh - calc(1.8rem + 12px));
}

.content .list-article {
  display: block;
}

.content .list-article a {
  display: block;
}

.content .list-article a img {
  display: inline-block;
  width: 75%;
  vertical-align: top;
}

.content .list-article a div {
  display: inline-block;
  width: calc(25% - 10px);
  padding-left: 10px;
  vertical-align: top;
}

.content .list-portrait article {
  display: block;
}

.content .list-portrait article h2 {
  width: 75%;
}

.content .list-article article,
.content .list-portrait article {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
