/* Variable
   ========================================================================== */
/* Font face
   ========================================================================== */
@font-face {
  font-family: 'Helvetica';
    font-family: 'HelveticaBold';
    font-family: 'HelveticaItalic';

    src: url('/dist/fonts/HelveticaNeue.ttf');
    src: url('/dist/fonts/HelveticaNeue-Bold.ttf');
    src: url('/dist/fonts/HelveticaNeue-LightItalic.ttf');
}

/* CSS
   ========================================================================== */
body {
  font-family: 'Helvetica', 'Roboto', sans-serif;
  overflow-x: hidden;
  word-break: break-all;
  word-break: break-word;
  -ms-word-break: break-all;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}

a {
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  text-decoration: none;
  color: #000;
}

a:hover,
a:focus,
a:active {
  color: red;
}

.share-twitter,
.share-facebook {
  position: absolute;
  bottom: 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background-position: center;
  background-size: contain;
}

.liste-article .share-twitter,
.liste-article .share-facebook {
  bottom: 0;
}

.liste-article .share-facebook {
  left: calc(75% + 30px);
  background-image: url(../../dist/img/facebook.jpg);
}

.liste-article .share-twitter {
  left: 75%;
  background-image: url(../../dist/img/twitter.jpg);
}

.article_content .share-twitter,
.article_content .share-facebook {
  top: .625rem;
}

.article_content .share-facebook {
  left: calc(.625rem + 30px);
  background-image: url(../../dist/img/facebook.jpg);
}

.article_content .share-twitter {
  left: .625rem;
  background-image: url(../../dist/img/twitter.jpg);
}

strong {
  font-family: 'HelveticaBold', 'Roboto', sans-serif;
}

em {
  font-family: 'HelveticaItalic', 'Roboto', sans-serif;
}

a img {
  max-width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

a:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Font-size */
.article header *,
.article .next h2,
.article .previous h2 {
  font-size: 3rem;
}

.menu > li,
.article .next p,
.article .previous p,
.menu-aside li,
.shop button {
  font-size: 1.6rem;
}

.content .col-flex_primary *,
.content .col-flex_secondary *,
.list-keywords * {
  font-size: 1.25rem;
  line-height: 1.6rem;
  letter-spacing: .028rem;
}

.article_content * {
  font-size: 1rem;
  letter-spacing: .04em;
}

/* Grille */
.col-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-flex_primary > *:not([class*='ps__']),
.col-flex_secondary > *:not([class*='ps__']),
.col-flex_extern > *:not([class*='ps__']) {
  padding: .625rem;
}

.col-flex_primary {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.col-flex_secondary {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.col-flex_extern {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Header */
.header {
    /* Hover submenu */
}

.header .menu {
  margin: 0;
  text-align: center;
}

.header .menu > li {
  line-height: 100%;
  position: relative;
  letter-spacing: .025rem;
}

.header .menu > li > a {
  position: relative;
  z-index: 2;
  display: block;
  padding: 5px 0;
  border-bottom: 2px solid #000;
  background-color: white;
}

.header .menu > li:not(:last-child) {
  border-right: 2px solid #000;
}

.header .submenu {
  z-index: 1;
  display: none;
}

.header .submenu li {
  line-height: normal;
}

.header .submenu li[aria-hidden] {
  line-height: 2.6rem;
}

.header .menu > li:hover ul {
  position: absolute;
  top: auto;
  width: 100%;
  padding: 5px 0;
  border-bottom: 2px solid #000;
  background-color: white;
}

.header .menu > li:first-child:hover ul {
  display: block;
  border-right: 2px solid #000;
}

.header .menu > li:nth-child(2):hover ul {
  left: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

.header .menu > li:first-child ul > li {
  display: block;
}

.header .menu > li:nth-child(2) ul > li {
  display: inline-block;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.header .menu > li:nth-child(2) ul > li[aria-hidden] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 1300px) {
  .header .menu > li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .header .menu > li:nth-child(2):hover ul,
    .header .menu > li:nth-child(2):hover ul li {
    display: block;
  }
}

/* content global */
.content .col-flex_primary {
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

.content .col-flex_secondary {
  border-right: 2px solid #000;
}

.content *[class*='col-flex_'] {
  position: relative;
  overflow: auto;
  min-height: calc(100vh - calc(1.8rem + 12px));
  max-height: calc(100vh - calc(1.8rem + 12px));
}

.content .col-flex_primary article,
.content .col-flex_secondary article {
  position: relative;
  margin-top: .625rem;
  margin-bottom: .625rem;
  padding-top: 0;
  padding-bottom: 0;
}

.content .menu-aside li {
  line-height: 1.5;
  text-align: center;
}

.content .menu-aside li[aria-hidden] {
  line-height: 2.6rem;
}

.content .menu-aside .logoshop {
  display: block;
}

.content .menu-aside .logoshop img {
  max-width: calc(100% - .625rem);
}

.content .menu-aside .logoshop + ul {
  margin-bottom: 40px;
}

.content .list-keywords li {
  display: inline-block;
}

.content .list-keywords li:not(:last-child):after {
  display: inline-block;
  content: '-';
}

@media screen and (max-width: 1300px) {
  .content .col-flex_extern {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

/* home page */
.home .col-flex_primary {
  display: block;
}

.home .col-flex_primary a {
  display: block;
}

.home .col-flex_primary a img {
  display: inline-block;
  width: 75%;
  vertical-align: top;
}

.home .col-flex_primary a div {
  display: inline-block;
  width: calc(25% - .625rem);
  padding-left: .625rem;
  vertical-align: top;
}

.home .col-flex_secondary article {
  display: block;
}

.home .col-flex_secondary article h2 {
  width: 75%;
}

/* Shop */
.shop .col-flex_primary {
  display: block;
}

.shop .col-flex_primary article > a {
  display: inline-block;
  width: 60%;
  text-align: right;
  vertical-align: top;
}

.shop .col-flex_primary article > a + div {
  display: inline-block;
  width: calc(40% - .625rem);
  padding-left: .625rem;
  vertical-align: top;
}

.shop .col-flex_primary button {
  margin-top: 5rem;
  padding: 5px 10px;
  cursor: pointer;
}

.shop .col-flex_secondary article {
  display: block;
}

.shop .col-flex_secondary article img {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.shop .col-flex_secondary article img + div {
  display: inline-block;
  width: calc(50% - .625rem);
  padding-left: .625rem;
  vertical-align: top;
}

/* Article */
.article {
    /* prev/next */
}

.article .col-flex_primary,
.article .col-flex_secondary {
  border: 0;
}

.article .col-flex_extern {
  position: relative;
}

.article .col-flex_primary img {
  width: 100%;
  max-width: calc(100% - 20px);
}

.article header,
.article .article_content {
  margin-right: 4.5rem;
  margin-bottom: 4rem;
}

.article .article_content {
  line-height: 1.5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article .article_content:before {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.article .article_content div {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.article .col-flex_extern img {
  width: 760px;
  max-width: initial;
}

.article a.next,
.article a.previous {
  position: absolute;
}

.article a.next {
  top: 160px;
  left: -45%;
}

.article a.next p {
  margin-bottom: .625rem;
}

.article a.next img {
  padding-bottom: 10px;
}

.article a.next h2 {
  padding-top: 10px;
}

.article a.previous {
  top: 100px;
  right: 42%;
}

.article a.previous p {
  position: absolute;
  right: -14.6%;
  bottom: 23%;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  vertical-align: bottom;
}

/* Site sur fond noir */
.darker {
  color: white;
  background-color: #000;
    /* scrollbar */
    /* border */
}

.darker a {
  color: white;
}

.darker .header .menu > li > a {
  background-color: #000;
}

.darker button {
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  color: #fff;
  border: 1px solid #fff;
  background-color: #000;
}

.darker button:hover {
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
}

.darker .menu-aside .logoshop {
  position: relative;
}

.darker .menu-aside .logoshop img {
  opacity: 0;
}

.darker .menu-aside .logoshop:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url('../../dist/img/logo-blanc.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.darker .ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y,
.darker .ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  background-color: #fff;
}

.darker .ps:hover > .ps__scrollbar-y-rail:hover {
  background-color: #151515;
}

.darker .header .menu > li:not(:last-child),
.darker .header .menu > li > a,
.darker .content .col-flex_primary,
.darker .content .col-flex_secondary {
  border-color: #fff;
}

/* Custom scrollbar (surcharge)
   ========================================================================== */
.ps__scrollbar-y,
.ps__scrollbar-x {
  cursor: pointer;
}

.ps:hover > .ps__scrollbar-x-rail,
.ps:hover > .ps__scrollbar-y-rail {
  opacity: 1;
}

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y,
.ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
  background-color: #000;
}
