/* ==========================================================================
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}



$primary-color: #000;

body {
	font-family: 'Roboto', 'Noto', sans-serif;
	font-size: 1.4em;
}

.header {
	border-bottom: 2px solid $primary-color;
	nav ul {
		padding-left: 0;
		list-style-type: none;
	}
	nav > ul {
		display: flex;
		text-align: center;
		margin: 0;
	}
	nav > ul > li {
		padding: 15px 0;
	}
	.actus  {
		flex: 4;
	}
	.portraits {
		flex: 2;
	}
	.home, .clefs {
		flex: 1;
	}
	nav > ul > li:not(:last-child) {
		border-right: 2px solid $primary-color;
	}

	nav ul ul {
		display: none;
	}
	nav > ul > li:hover ul {
		display: block;
	}
	nav > ul > li:hover ul > li {
		display: inline-block;
	}
}

.content {
	display: flex;
	.list-article {
		flex: 4;
		border-left: 2px solid $primary-color;
		border-right: 2px solid $primary-color;
	}
	.list-portrait {
		flex: 2;
		border-right: 2px solid $primary-color;
	}

	.content_col-empty {
		flex: 1;
	}
}