<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>{{page.title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="{{site.url}}/dist/css/style.min.css">
	</head>
	<body>
		{% include menu.html %}

		<div class="content col-flex article" role="main">
			<div class="col-flex_extern"></div>

			<article class="col-flex_primary">
				<h1>{{ page.title }} <small>{{ page.date | date_to_string }}</small></h1>
				<img src="{{ page.urlimg }}" alt="">
	            {{ content }}

	            <ul class="pager">
	                {% if page.previous %}
	                    <li class="previous"><a href="{{site.url}}{{ page.previous.url }}">&larr; {{ page.previous.title }} </a></li>
	                {% endif %}
	                {% if page.next %}
	                    <li class="next"><a href="{{site.url}}{{ page.next.url }}">{{ page.next.title }} &rarr;</a></li>
	                {% endif %}
	            </ul>
			</article>

			<div class="col-flex_secondary"></div>
			<div class="col-flex_extern"></div>
		</div>

		{% include footer.html %}
	</body>
</html>